header {
    border: solid;
    border-radius: 30px;
}

section {
    border: solid;
    border-radius: 30px;

}

footer {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
    border: solid;
    border-radius: 30px
;
}

#epargne {
    margin-top: 15%;
}