body {
    background: #8B87FF;
    color: whitesmoke;
    font-family: 'Dosis', sans-serif;
}
header {

    border: solid;
    border-radius: 30px;
    background:#B0B9FF;
}

section {
    border: solid;
    border-radius: 30px;
    background: #9776FF;

}

footer {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
    border: solid;
    border-radius: 30px;
    background:#B0B9FF;
;
}

#epargne {
    margin-top: 15%;
}

.ty {
    display: flex;
    justify-content: space-around;
}

#s {
    font-size: 25px;
}